/* CSS Reset */
* {
    margin:0;
    padding: 0;
    top: 0;
    left: 0;
}

/* Body Work  */



/* Navigation Section  */
#navigationbar{
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.158);
    height: 95px;
    backdrop-filter: blur(1px);
}
#navigationbar .navbar ul li{
    position: relative;
    top: 16px;
    left: -50px;
    list-style: none;

}
#navigationbar .navbar ul li a{
    position: relative;
    left: -100px;
    padding: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
#navigationbar .navbar select{
    position: relative;
    left: -130px;
    top: -2px;
    border: none;
    background: none;
    color: white;
}
#navigationbar .navbar select:focus{
   outline: none;
}
#navigationbar #logo1 img{
    height: 50px;
    position: relative;
    top: 18px;
    left: 100px;
}
#navigationbar #logo2 img{
    position: relative;
    height: 50px;
    top: 16px;
    border-radius: 100%;
    filter: invert(100%);
    left: -70px;
}
#navigationbar .navbar{
    display: flex;
    justify-content: right;
    align-items:end ;
    position: relative;
    top: -60px;
}
#navigationbar .navbar #icons1{
   display: block;
   position: relative;
   padding: 10px;
   padding: 10px;
   top: 16px;
   left: -100px;
}
#navigationbar .navbar #icons1 input{   
    display: block;
    position: relative;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: white;
    color: white;
    padding: 3px;
    margin: 2px;
    width: 250px;
    border: none;
    text-align: center;
}
#navigationbar .navbar #icons1 input:focus{   
    outline: none;
    border: white;

    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(10px);

}
#navigationbar .navbar #icons1 input::placeholder{   
    text-align: center;
    color: white;
}
#navigationbar .navbar #icons2 img{

    position: relative;
    top: 10px;
    height: 25px;
    left: -100px;
    margin: 10px;
    border-radius: 20px;

}
/* Home Section  */
#home{
    position: absolute;
    top: -00px;
    z-index: -1;
}
#home .home101{
    position: relative;
    z-index: -1;
    top: px;
}
.next101{
    position: relative;
    top: -380px;
    left: 1150px;
    opacity: 1;

}
.next101:hover{
    opacity: 1;
}
.next102{
   
    opacity: 1;
}
.next102:hover{
    opacity: 1;
}

.h-primary{
    display:inline-block;
    position: relative;
    top: -150px;
    left: 70px;
    font-weight: bold;
    backdrop-filter: blur(1px);
    padding: 10px;
    border-radius: 20px;

    
}
.image101{
    height: 761px;
}
.p-primary{
  display: inline-block;
  position: relative;
  left: -200px;
  width: 300px;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  padding: 10px;

}
.button1{
    position: relative;
    top: -390px;
    left: -210px;
    width: 130px;
    height: 35px;
    border-radius: 100px;
    background-color: #f1f1f1;
    border: none;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight:600;

}
.button1:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 1px 0px 20px 3px red;
}
.slide101{
    position:absolute;
    top: 250px;
    left: -500px;
}
.slide102{
    position: absolute;
    top: 100px;
}